---
type: template
extends: file://business.template.html
---
<h1>Rechnung {{ meta.invoice.number }}</h1>

<table style="width:100%; margin-bottom:6mm;">
  <tr>
    <td style="width:50%;"><strong>Rechnungsdatum</strong><br>{{ meta.invoice.date }}</td>
    <td style="width:50%;"><strong>Leistungszeitraum</strong><br>{{ meta.invoice.servicePeriod }}</td>
  </tr>
</table>

<h2>Rechnungsempfänger</h2>
<p>
  {{ meta.customer.name }}<br>
  {{ meta.customer.street }}<br>
  {{ meta.customer.postalCode }} {{ meta.customer.city }}
</p>

<h2>Leistungen</h2>
{{ markdown:meta.invoice.items }}

<table style="width:100%; margin-top:5mm;">
  <tr><td style="width:70%; text-align:right;">Nettobetrag</td><td style="width:30%; text-align:right;">{{ meta.invoice.net }}</td></tr>
  <tr><td style="text-align:right;">USt. {{ meta.invoice.taxRate }}</td><td style="text-align:right;">{{ meta.invoice.tax }}</td></tr>
  <tr><td style="text-align:right;"><strong>Gesamtbetrag</strong></td><td style="text-align:right;"><strong>{{ meta.invoice.total }}</strong></td></tr>
</table>

<p style="margin-top:8mm;">Bitte überweisen Sie den Rechnungsbetrag bis {{ meta.invoice.dueDate }} auf die unten genannte Bankverbindung.</p>
<p>Vielen Dank für Ihren Auftrag.</p>

{{ content }}
